body {
	font-family: Arial, sans-serif;
	color: #000;
	background: #333;
	margin: 0px;
	padding: 0px;
}
body a {
	color: #28364f;
}

#wrapper{
	max-width: 1000px;
	margin: 0 auto;
}

#header{
	position: relative;
	background-color: #28364f;	
	background-image: url(https://57north.org.uk/img/logo.png);
	background-position: -5px -10px;
	background-repeat: no-repeat;
	color: #fff;		
}
#header a{
	color: #fff;	
}
#header h1{
	margin: 0;
	padding: 22px 0px 20px 0px;
}
#status{
	position: absolute;
	top: 0;
	right: 5;
	font-style:italic;
}
/*ul{ display: inline; list-item-style: none; padding: 0; margin: 0; }*/

/**NAVIGATION**/
ul#navbar { 
	background-color: #00708c;
    list-style:none;
	text-align:center;
	margin: 0;
	padding: 0;
}

ul#navbar li { display: inline; }
ul#navbar a { 
	display: inline-block; 
	text-decoration:none;
	text-align:center;
	padding: 1em 1em 1em 0;

}
	
ul#navbar>li>a:hover{
	text-decoration:underline;
}
.active
{
	font-weight:700;
	text-decoration:underline!important;
}

#profileBody #home_page a
{
	font-weight:700;
	text-decoration:underline!important;
}
#profileBody #profile_page a
{
	font-weight:700;
	text-decoration:underline!important;
}
#profileBody #payments_page a
{
	font-weight:700;
	text-decoration:underline!important;
}
#profileBody #status_page a
{
	font-weight:700;
	text-decoration:underline!important;
}
#profileBody #account_page a
{
	font-weight:700;
	text-decoration:underline!important;
}

#content{
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 20px;
}


/*CONTENT*/

h1{
	text-align:center;
}

h2{
	border-bottom: 2px solid #00708c;
	margin: 5px 0px;
	padding: 0;
}
table{
	border:none;
	margin-bottom:2em;
}
th, td{
	padding:0.5em;
}

th {
	text-align:left !important;
}

.info{
	font-style:italic;
}

input{
	background: #fff;
	border-radius: 3px;
}
.submit {
	color: #fff;
	padding:0.5em;
	background: #00708c; 
	border-radius: 3px;
	border: 1px solid transparent;
}

#footer {
	margin-top: 0px;
	font-size: x-small;
	background-color: #28364f;
	padding: 10px;	
	color: #fff;
}
#footer a{
	color: #fff;
}


.payment {
    display: inline-block;
    color: black;
    padding: .5em;
}

.now {
    background-color: #C6CACC;
}

.paid {
    background-color: #99ED8E;
}

.gap {
    background-color: #E86471;
}

.prejoin {
    background-color: #6E8A84;
}


@media only screen and (max-width: 800px) {
	#header{
		background-position: 0 0;
		background-size: 144px 50px;		
	}
	#status{
		margin: 0;		
	}	
}

@media only screen and (max-width: 600px) {
	#header{
		background-position: 0 0;
		background-size: 72px 25px;		
	}
	#status{
		margin: 0;		
	}	
}