{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>{{ user.username }}'s Payments</h2>
<p>The following payments have been recorded:</p>
<table>
<tr><th>Month</th><th>Year</th><th>Recoded at</th><th>Recorded by</th></tr>
{% for payment in user.get_payments() %}
<tr><td>{{ payment[1] }}</td><td>{{ payment[0] }}</td><td>{{ payment[2]|ts2readable }}</td><td>{{ payment[3] }}</td>
{% else %}
<p>No payments?</p>
<p>{{ payments }}</p>
{% endfor %}
</table>
{% endblock %}
