{% extends "front_base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}

    <header class="margin4">
	    <h2>About Hackerdeen, the first hackerspace in Aberdeen</h2>
    </header>

<blockquote>A hackerspace (also referred to as a hacklab, makerspace, or hackspace) is a community-operated workspace where people with common interests, often in computers, technology, science, digital art or electronic art, can meet, socialise and/or collaborate.
    <span class="reference">- Wikipedia</span></blockquote>

    <p>Hackerdeen is such a place based in Aberdeen, UK. At this point, Hackerdeen has already been established, we've got an office space where the members meet regularly or just for a casual hacking. There is a membership fee that covers the rent, the bills and purchases of any cool stuff that is either required or desired by the members. The current membership fee is <strong>&pound;20</strong> but different rates may be available in the future.</p>

    <p><strong>There are regular meetings, every Tuesday at 07:00pm.</strong> If you are not a member yet, the best thing to do would be to come to one of those meetings so we can get you registered and as soon as you pay the membership fee you'll have 24/7 access to the hackerdeen.</p>

    <p>Current status of the hackerdeen can be seen in the header of this website. If you'd like to check it on the go, download the MyHackerspace app for Android and select hackerdeen from the list.</p>

    <h3>What kind of people are we targeting</h3>
    <p>As the quote from <a href="http://en.wikipedia.org/wiki/Hackerspace">Wikipedia</a> says, the most common interests the members of hackerspace have are computers, technology, engineering, science, digital art or electronic art, but as far as we are concerned, if you are really passionate about something and would like to meet other people with the same interest, or would like to present your work, stop by and do so.</p>

{% endblock %}
