{% extends "front_base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
 	<header>
	    <h2>Contact us</h2>
    </header>

    <h3>Address</h3>
    <address>3rd floor<br>
    35a Union Street<br>
    AB11 5BN Aberdeen<br>
    United Kingdom<br>
    </address>

    <h3>IRC</h3>
    <p>IRC for Hackerdeen is available at <strong>#hackerdeen</strong> channel on <strong>irc.freenode.net</strong> server. The easiest way to connect and start talking right away is Freenode Webchat found on <a href="http://webchat.freenode.net/">http://webchat.freenode.net/</a>.</p>
  
    <h3>Google Groups</h3>
    <p>We have a Google Groups page where you can leave us a comment, ask a question or just chat just about anything <a href="https://groups.google.com/forum/#!forum/hackerdeen">here</a>.</p>
    <p>In order to send email to the group send email to <a href="mailto:hackerdeen@googlegroups.com">hackerdeen@googlegroups.com</a> and if you want to receive updates from the groups you need to subscribe by sending empty email to <a href="mailto:hackerdeen+subscribe@googlegroups.com">hackerdeen+subscribe@googlegroups.com</a></p>
    
    <h3>Social Networks</h3>
    <p>Follow us on <a href="http://twitter.com/hackerdeen">Twitter</a> or <a href="https://plus.google.com/b/112503671338726985630/112503671338726985630/posts">Google+</a></p>

    <h3>Email</h3>
    <p>If for any reason you cannot or don't want to come and talk to us on our IRC Channel or Google Groups leave us an email on <a href="mailto:contact@hackerdeen.org.uk">contact@hackerdeen.org.uk</a>.</p>

{% endblock %}
