{% extends "base.html" %}
{% block title %}Profile &raquo; Edit{% endblock %}
{% block content %}
<h2>Edit My Profile</h2>
<form action="#" method="post">
<table>
<tr><th>Username</th><td>{{ profile.username }}</td></tr>
<tr><th>Realname</th><td><input type="text" name="realname" value="{{ profile.realname }}" /></td></tr>
<tr><th>Nickname</th><td><input type="text" name="nickname" value="{{ profile.nickname }}" /></td></tr>
<tr><th>Email</th><td><input type="text" name="email" value="{{ profile.email }}" /></td></tr>
<tr><th>IRC Handle</th><td><input type="text" name="irc" value="{{ profile.irc }}" /></td></tr>
<tr><th>Twitter Username</th><td><input type="text" name="twitter" value="{{ profile.twitter }}" /></td></tr>
<tr><th>Github Username</th><td><input type="text" name="github" value="{{ profile.github }}" /></td></tr>
<tr><th>Address</th><td><textarea name="address" rows="4" cols="20">{{ profile.address }}</textarea></td></tr>
</table>
<p><input type="submit" class="submit" value="Save Changes" /><input type="button" onclick="javascript:history.back();" value="Cancel" /></p>
</form>
<p class="info">You are{% if profile.key == 0 %} <b>not</b>{% endif %} a keyholder.</p>
<p class="info">You are{% if profile.adm == 0 %} <b>not</b>{% endif %} an administrator.</p>
{% endblock %}
