{% extends "base.html" %}
{% block title %}Space Status &raquo; Update{% endblock %}
{% block content %}
<script src="/static/jquery.js" > </script>
<script>
function newMessage() {
$.getJSON("/api/wisdom", function(data) {
$("#message").val(data.wisdom);
});}
</script>

<h2>Space Status &raquo; Update</h2>
<form action="#" method="post">
<table>
<tr><th>New State</th><td><select name="state">
<option value="1">Open</option>
<option value="0" {% if status.open %}selected="selected"{% endif %}>Closed</option>
</td></tr>
<tr><th>Message</th><td><textarea rows="4" name="message" id="message"></textarea>
    <p><a onclick="newMessage()" href="#">Generate a message</a></p>
</td></tr>
</table>
<p><input type="submit" class="submit" value="Update Status" /></p>

{% endblock %}
