{% extends "base.html" %}
{% block title %}Unlock{% endblock %}
{% block content %}
<h2>Unlock</h2>
<p>The code for the main door at Kettock Lodge is {{ door_code }}.</p>
<p>The code for the back door is {{ back_door_code }}.</p>
<hr/>
<p>To unlock the door into the space <a href="/hub/open_door">click here.</a></p>
<p>Please make sure it's locked again when you're done.</p>

{% if code %}
<p>Your magic unlock URL:
  <a href="/hub/open_door_code/{{ code }}">https://hub.57north.org.uk/hub/open_door_code/{{ code }}</a>
</p>
<p>This URL will work to unlock the door without you needing to be logged in.</p>
<p>To get a JSON rather than HTML response use <a href="/hub/open_door_code_json/{{ code }}">https://hub.57north.org.uk/hub/open_door_code_json/{{ code }}</a></p>
<p>Please keep that URL secret. If you think it may have leaked you
  can disable it and generate a new
  one <a href="/hub/gen_url_code">here.</a>
</p>
{% else %}

<p>To generate a magic unlock URL (that can be used to unlock the door
without you needing to be logged in) <a href="/hub/gen_url_code">click
here.</a></p>

{% endif %}
{% endblock %}
